@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap');

/* Versão Mobile First */

* {
    font-family: "Roboto", serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    font-size: 16px;
    overflow-x: hidden;
}

header {
    background-image: url(imagens/wp7326239.webp);
    background-size: cover;
    background-position: center;
    height: 30rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.25rem;
}

img#banner {
    background-size: contain;
    position: relative;
    width: 100%;
    height: 100%;
}

header img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

main {
    margin: auto;
    padding: 20rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    padding: 1rem;
}

th {
    padding: 1rem;
}

td {
    padding: 1rem;
    border: 1px solid black;
    text-align: center;
}

summary {
    cursor: pointer;
}